<section class="user-list-container">
  <div class="add-user-btn-container">
    <button type="button" class="default-btn blue-btn" ng-click="openUserFormDialog()">Create user</button>
  </div>

  <div class="success-message" ng-if="isSuccessfullyMessage">
    {{successfullyMessageValue}}
  </div>
  
  <div class="user-table-container">
    <table class="user-table">
      <thead>
        <tr>
          <th>Username</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Email</th>
          <th>User Type</th>
        </tr>
      </thead>
      <tbody>
        <tr class="user-item" ng-repeat="user in userList" ng-click="openUserFormDialog(user.id)">
          <td>{{ user.username }}</td>
          <td>{{ user.first_name }}</td>
          <td>{{ user.last_name }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.user_type }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
