<div class="user-view-header">
  <span class="user-view-title">{{userViewTitle}}</span>
</div>

<div class="form-container">
  <form name="userForm" novalidate>
    <div class="user-form-group">
      <label for="username">Username*</label>
      <input
        type="text"
        class="form-control"
        name="username"
        ng-model="user.username"
        required
      />
      <div
        ng-show="userForm.username.$invalid && userForm.username.$touched"
        class="alert alert-danger"
      >
        Username is required
      </div>
    </div>
    <div class="user-form-group">
      <label for="firstName">First Name*</label>
      <input
        type="text"
        class="form-control"
        name="firstName"
        ng-model="user.first_name"
        required
      />
      <div
        ng-show="userForm.firstName.$invalid && userForm.firstName.$touched"
        class="alert alert-danger"
      >
        First Name is required
      </div>
    </div>
    <div class="user-form-group">
      <label for="lastName">Last Name*</label>
      <input
        type="text"
        class="form-control"
        name="lastName"
        ng-model="user.last_name"
        required
      />
      <div
        ng-show="userForm.lastName.$invalid && userForm.lastName.$touched"
        class="alert alert-danger"
      >
        Last Name is required
      </div>
    </div>
    <div class="user-form-group">
      <label for="email">Email*</label>
      <input
        type="email"
        class="form-control"
        name="email"
        ng-model="user.email"
        required
      />
      <div
        ng-show="userForm.email.$invalid && userForm.email.$touched"
        class="alert alert-danger"
      >
        Email is required and should be a valid email address.
      </div>
    </div>
    <div class="user-form-group">
      <label for="userType">User Type*</label>
      <select
        class="form-control"
        name="userType"
        ng-model="user.user_type"
        required
      >
        <option value="">Select user type</option>
        <option value="Admin">Admin</option>
        <option value="Driver">Driver</option>
      </select>
      <div
        ng-show="userForm.userType.$invalid && !userForm.userType.$pristine"
        class="alert alert-danger"
      >
        User Type is required
      </div>
    </div>
    <div class="user-form-group">
      <label for="password">Password*</label>
      <input
        type="password"
        class="form-control"
        name="password"
        ng-model="user.password"
        ng-pattern="/^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$/"
        required
      />
      <div
        ng-show="userForm.password.$invalid && userForm.password.$touched"
        class="alert"
      >
        Password is required and should be at least 8 characters long with at
        least one number and one letter.
      </div>
    </div>
    <div class="user-form-group">
      <label for="repeatPassword">Repeat password*:</label>
      <input
        type="password"
        class="form-control"
        name="repeatPassword"
        ng-model="repeatedPassword"
        required
      />
      <div
        class="alert"
        ng-show="userForm.repeatPassword.$error.required && userForm.repeatPassword.$touched"
      >
        Repeat password is required.
      </div>
      <div
        class="alert"
        ng-show="(repeatedPassword) && user.password !== repeatedPassword && !userForm.repeatPassword.$pristine"
      >
        Passwords must match.
      </div>
    </div>
    <div
      class="user-form-group user-form-buttons"
      ng-class="{'user-form-buttons_center': isNewUser}"
    >
      <button
        ng-if="!isNewUser"
        type="button"
        class="default-btn red-btn"
        ng-click="deleteUser(user.id)"
      >
        Delete
      </button>
      <button
        type="button"
        class="default-btn blue-btn"
        ng-click="saveUser(user)"
        ng-disabled="userForm.$invalid && user.password !== repeatedPassword"
      >
        {{userSaveButtonTitle}}
      </button>
    </div>
  </form>
</div>
